@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navigation {
  width: 1060px;
  height: 64px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.logo-link {
  margin-right: 30px;
}

.page-header {
  background-color: #ffffff;
  width: 1200px;
  height: 64px;
}

.page-logo {
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
  min-height: 64px;
  align-items: center;
}

.navigation-item {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  min-height: 64px;
}

.navigation-link {
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-menu {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}

.user-menu-btn {
  width: 160px;
  min-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  margin: auto 0;
}

.user-menu-item {
  padding: 22px 12px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #ffffff;
}

.main-header {
  width: 1200px;
  height: 485px;
  background-color: #1a5553;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-size: 100% auto, cover;
  display: flex;
  justify-content: center;
}

.main-index-logo {
  margin-top: 51px;
}

.main-slogan {
  width: 1200px;
  min-height: 200px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 64px;
}


.main-slogan-container-2 {
  width: 505px;
  height: 118px;
}

.main-slogan-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.main-slogan-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.main-advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-advantages-item {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  background-color: #83B3D31F;
  width: 400px;
  min-height: 385px;
}

.main-advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.main-advantages-item p {
  margin: 0;
}

.item-with-photo {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  width: 1200px;
}

.item-wrapper {
  width: 400px;
  min-height: 385px;
}

.dividing-line {
  display: block;
  margin-bottom: 30px;
}

.advantages-item-darker {
  background-color: #83B3D333;
}

.main-features-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.main-features-item-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.features-item-lighter {
  background-color: #ffffff;
}

.features-item-container {
  width: 230px;
  height: 223px;
}

.main-search-hotel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 406px;
  background-color: #ffffff;
  color: #000000;
}

.search-hotel-container {
  width: 592px;
  height: 214px;
}

.main-search-hotel-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-search-hotel-text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.main-search-hotel-button {
  display: block;
  margin: 0 auto;
  background: #756157;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.main-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 415px;
  background-color: #1a5553;
  background-image: url("../images/subscribe-bg.jpg");
}

.main-subscribe-container {
  width: 684px;
  height: 215px;
}

.main-subscribe-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-subscribe-text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.main-subscribe-email-btn {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.main-subscribe-field {
  text-align: center;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
}

.page-footer-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.page-footer-social-item {
  width: 47px;
  height: 40px;
}

.page-footer-tel {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.page-footer-logo {
  align-self: center;
}

/*Стили для страницы каталога*/
.main-inner-filter {
  width: 1200px;
  min-height: 412px;
  padding-top: 35px;
  padding-left: 70px;
  background-color: #000000;
  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
}

.main-inner-filter-included {
  display: flex;
}

.main-inner-filter-price {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.main-inner-filter-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.filter-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.infrastructure-title,
.housing-title,
.filter-price-title {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.infrastructure-list,
.housing-list,
.breadcrumbs,
.pagination,
.page-footer-social,
.main-features-list,
.main-advantages-list,
.navigation-user-menu {
  list-style-type: none;
}

.infrastructure,
.housing {
  padding: 0;
  margin: 0;
  border: none;
}

.infrastructure {
  margin-right: 70px;
}

.infrastructure-list {
  padding: 0;
  margin: 0;
}

.housing {
  margin-right: 140px;
}

.housing-list {
  padding: 0;
  margin: 0;
}

.infrastructure-item,
.housing-item {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 16px;
}

.infrastructure-item:nth-last-child(1),
.housing-item:nth-last-child(1) {
  margin-bottom: 0;
}

.filter-submit-btn {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 191px;
  height: 36px;
}

.filter-reset-btn {
  font-family: "PT Sans", sans-serif;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.searched-results {
  background-color: #ffffff;
}

.searched-results-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 50px 70px 40px 70px;
}

.searched-results-title {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0;
  margin-right: 200px;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 292px;
  margin: 0;
  margin-right: 70px;
}

.searched-results-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 896px;
  margin-bottom: 20px;
}

.searched-results-card {
  width: 300px;
  min-height: 438px;
  padding: 20px;
  border: #000000 1px dotted;
  margin-right: 20px;
  margin-bottom: 20px;
}

.searched-results-card:nth-last-child(1) {
  margin-right: 0;
}

.searched-results-card-link {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
}

.searched-results-card a:first-child {
  text-decoration: none;
}

.searched-results-card p {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.searched-results-card-details {
  background-color: #756157;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.searched-results-card-favorites {
  background-color: #82B3D3;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.card-btn-selected {
  background-color: #7DB54F;
}

.card-raiting-text {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.catalog-pagination-divider {
  margin: 0 70px;
  width: 1060px;
  margin-bottom: 40px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 1060px;
  padding-left: 70px;
  margin-bottom: 60px;
}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
}

.inner-subscribe {
  width: 1200px;
  height: 415px;
  background-color: #ffffff;
  color: #000000;
}

.inner-subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.inner-subscribe-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.inner-subscribe-field {
  text-align: center;
}

.inner-subscribe-email-btn {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.white-bg {
  background-image: none;
  background-color: #ffffff;
}

.black-text {
  color: #000000;
}
