@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
}

.navigation {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

.logo-link {
  margin-right: 30px;
}

.page-header {
  width: 1200px;
}

.page-logo {
  position: relative;
  display: block;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
  min-height: 64px;
  align-items: center;
  width: 460px;
}

.navigation-item {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.navigation-link {
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
  display: block;
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  top: 103%;
  left: 17%;
}

.navigation-user-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-right: 20px;
}

.user-menu-btn {
  width: 160px;
  min-height: 36px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

.user-menu-btn:hover,
.user-menu-btn:focus {
  background-color: #615048;
}

.user-menu-btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.user-menu-item {
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 44px;
  box-sizing: border-box;
}

.user-menu-link {
  display: block;
  width: 44px;
  height: 44px;
  text-decoration: none;
}

.search-icon {
  background-image: url("../images/search-icon.svg");
}

.favourites-icon {
  background-image: url("../images/like-icon.svg");
}

.like-count {
  display: block;
  min-width: 20px;
  height: 20px;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 100vw;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 2px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #ffffff;
}

.main-index-logo {
  display: block;
  margin: 0 auto;
}

.main-header {
  height: 485px;
  background-color: #1a5553;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-size: 100% auto, cover;
  padding-top: 51px;
  box-sizing: border-box;
}

.main-slogan {
  min-height: 261px;
  color: #000000;
  padding: 69px 274px;
  box-sizing: border-box;
}


.main-slogan-container-2 {
  width: 505px;
  height: 118px;
}

.main-slogan-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.main-slogan-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.main-advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.main-advantages-item {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  background-color: #83B3D31F;
  width: 400px;
  min-height: 385px;
  padding-top: 112px;
  padding-bottom: 112px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box;
}

.main-advantages-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.main-advantages-title::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 60px;
  margin: 30px auto 30px;
}

.darker-line::after {
  content: "";
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.main-advantages-item p {
  margin: 0;
}

.item-with-photo {
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  width: 1200px;
  padding: 0;
}

.item-wrapper {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantages-item-darker {
  background-color: rgba(131, 179, 211, 0.2);
}

.main-features-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-features-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  padding: 183px 85px 81px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.house-picture {
  background-image: url("../images/house-icon.svg");
  background-position-y: 85px;
}

.food-picture {
  background-image: url("../images/humburger-icon.svg");
  background-position-y: 86px;
}

.gift-picture {
  background-image: url("../images/gift-icon.svg");
  background-position-y: 81px;
}

.main-features-item-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.main-features-item-text {
  margin: 0;
  padding: 0;
}

.features-item-lighter {
  background-color: #ffffff;
}

.main-search-hotel {
  min-height: 406px;
  color: #000000;
  padding: 96px 304px;
  box-sizing: border-box;
}

.main-search-hotel-title {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-search-hotel-text {
  color: #333333;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.main-search-hotel-button {
  display: block;
  margin: 0 auto;
  background: #756157;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border: none;
  border-radius: 4px;
  min-width: 376px;
  height: 52px;
  box-sizing: border-box;
  padding: 8px 50px;
}

.main-search-hotel-button:hover,
.main-search-hotel-button:focus {
  background-color: #615048;
}

.main-search-hotel-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.main-subscribe {
  background-color: #1a5553;
  background-image: url("../images/subscribe-bg.jpg");
  padding: 0;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
  min-height: 415px;
  box-sizing: border-box;
}

.main-subscribe-field {
  min-height: 52px;
  display: flex;
  justify-content: center;
}

.main-subscribe-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.main-subscribe-text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
}

.main-subscribe-email {
  min-width: 452px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 52px;
  border: none;
  background-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.main-subscribe-email-btn {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  min-width: 232px;
  border: none;
  text-transform: uppercase;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 50px;
}

.main-subscribe-email-btn:hover,
.main-subscribe-email-btn:focus {
  background-color: #68A2CA;
}

.main-subscribe-email-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 120px;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
}

.page-footer-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.page-footer-social-item {
  min-width: 47px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.vk-icon {
  background-size: 24px 14px;
  background-image: url("../images/vk-icon.svg");
}

.telegram-icon {
  background-size: 18px 15px;
  background-image: url("../images/telegram-icon.svg");
}

.youtube-icon {
  background-size: 22px 17px;
  background-image: url("../images/youtube-icon.svg");
}

.page-footer-social-item a {
  display: block;
  width: 47px;
  height: 100%;
}

.page-footer-tel {
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.page-footer-tel:hover,
.page-footer-tel:focus {
  color: #756157;
}

.page-footer-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-logo {
  align-self: center;
}

/*Стили для страницы каталога*/
.main-inner-filter {
  min-height: 412px;
  padding: 35px 70px 70px;
  background-color: #9d4444;
  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
}

.main-inner-filter-included {
  display: flex;
}

.main-inner-filter-price {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 288px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 70px;
}

.filter-price-title {
  padding: 0;
  grid-column: -1 / 1;
}

.main-inner-filter-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.main-inner-slider {
  grid-column: -1 / 1;
}

.main-inner-filter-btn {
  min-width: 191px;
  padding-top: 56px;
}

.price-input {
  width: 143px;
  min-height: 48px;
  margin: 0;
  border: none;
  margin-bottom: 36px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.border-radius-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.border-radius-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  display: block;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  align-content: center;
  margin-right: 11px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  min-width: 12px;
  min-height: 12px;
  background-image: url(../images/house-icon-breadscrum.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-link {
  min-width: 6px;
  min-height: 10px;
  background-image: url(../images/arrow-breadscrum.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.infrastructure-title,
.housing-title,
.filter-price-title {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.infrastructure-list,
.housing-list,
.breadcrumbs,
.pagination,
.page-footer-social,
.main-features-list,
.main-advantages-list,
.navigation-user-menu {
  list-style-type: none;
}

.infrastructure,
.housing {
  padding: 0;
  margin: 0;
  border: none;
}

.infrastructure {
  margin-right: 70px;
}

.infrastructure-list {
  padding: 0;
  margin: 0;
}

.housing {
  margin-right: 140px;
  min-width: 150px;
}

.housing-list {
  padding: 0;
  margin: 0;
}

.infrastructure-item,
.housing-item {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 16px;
}

.infrastructure-item:last-child,
.housing-item:last-child {
  margin-bottom: 0;
}

.filter-submit-btn {
  padding: 0;
  display: block;
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  min-width: 191px;
  height: 36px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.filter-submit-btn:hover,
.filter-submit-btn:focus {
  background-color: #68A2CA;
}

.filter-submit-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-btn {
  padding: 0;
  display: block;
  font-family: "PT Sans", sans-serif;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  min-width: 191px;
  height: 36px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.filter-reset-btn:hover {
  opacity: 60%;
}

.filter-reset-btn:focus {
  border: 3px solid #83B3D3;
}

.filter-reset-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.searched-results {
  background-color: #ffffff;
}

.searched-results-header {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 50px 70px 40px 70px;
  align-items: center;
}

.searched-results-title {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0;
  margin-right: 200px;
  text-transform: uppercase;
  align-self: center;
}

.searched-results-catalog {
  display: flex;
  flex-wrap: wrap;
  min-height: 896px;
  margin-bottom: 80px;
  padding: 0 70px;
  gap: 20px;
}

.searched-results-card {
  width: 340px;
  min-height: 438px;
  padding: 20px;
  border: #e6e6e6 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 20px;
  row-gap: 16px;
  align-items: start;
}

.searched-results-card:last-child {
  margin-right: 0;
}

.searched-results-card-link {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
  grid-column: -1 / 1;
}

.searched-results-card-link-img {
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 212px;
  grid-column: -1 / 1;
}

.searched-results-card a:first-child {
  text-decoration: none;
}

.searched-results-card p {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.searched-results-card-details {
  background-color: #756157;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 8px 26px;
}

.searched-results-card-details:hover,
.searched-results-card-details:focus {
  background-color: #615048;
}


.searched-results-card-details:active {
  color: rgba(255, 255, 255, 0.3);
}

.searched-results-card-favorites {
  background-color: #82B3D3;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
}

.searched-results-card-favorites:hover,
.searched-results-card-favorites:focus {
  background-color: #68A2CA;
}

.searched-results-card-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.stars {
  height: 36px;
  margin: 0;
  background-image: url("../images/stars.png");
  background-repeat: no-repeat;
}

.one-star {
  background-position-x: -92px;
}

.two-stars {
  background-position-x: -68px;
}

.three-stars {
  background-position-x: -45px;
}

.four-stars {
  background-position-x: -24px;
}

.searched-results-housing-type {
  margin: 0;
  padding: 0;
}

.searched-results-price {
  margin: 0;
  padding: 0;
  text-align: end;
}

.button {
  display: block;
  width: 48px;
  height: 48px;
  border: #E5E5E5 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
}

.button:hover,
.button:active {
  border: #000000 2px solid;
}

.button:focus {
  border: #68A2CA 2px solid;
}

.button-cell {
  background-image: url("../images/cells-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px, 14px;
  background-position: center;
}

.button-big {
  background-image: url("../images/big-cell-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px, 14px;
  background-position: center;
}

.button-list {
  background-image: url("../images/list-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px, 14px;
  background-position: center;
}

.button-selected {
  border: #000000 2px solid;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6C9E42;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  width: 292px;
  min-height: 49px;
  margin: 0;
  margin-right: auto;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.select-control:hover,
.select-control:focus {
  border: #68A2CA 2px solid;
}

.card-btn-selected {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.card-raiting-text {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 8px 22px;
  border-radius: 4px;
}

.catalog-pagination-divider {
  margin: 0 70px;
  width: 1060px;
  margin-bottom: 40px;
  color: #e6e6e6;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 1060px;
  padding: 0 70px;
  padding-bottom: 60px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  display: block;
  min-width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 11px 18px;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background-color: #F2F2F2;
  color: #000000;
}

.inner-subscribe {
  width: 1200px;
  height: 415px;
  background-color: #ffffff;
  color: #000000;
}

.inner-subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.inner-subscribe-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.inner-subscribe-field {
  text-align: center;
}

.inner-subscribe-email-btn {
  font-family: "PT Sans", sans-serif;
  background: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.white-bg {
  background-image: none;
  background-color: #ffffff;
}

.black-text {
  color: #000000;
}
